.box{
     width: 200px;              /* Content width */
    height: 100px;             /* Content height */

    padding: 50px;             /* Space inside the box */
    border: 5px solid blue;    /* Border around padding */
    margin: 30px;              /* Space outside the box */

    background-color: rgb(157, 2, 2);
}