
*{
    margin: 10px;
    padding: 0;
     box-sizing :3px;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body {
   background-color: wheat;
  background-image: url("mec.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size:cover;
   height: 100vh;
}
  
header{
    background-color: aquamarine;
    color: black;
    text-align: center;
    padding: 0%;
}
nav{
    background-color: aquamarine;
    text-align: center;
    padding: 0;

}
.container{
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    background-color: aquamarine;
    margin: 20px;
}
.card{
    background-color: blue;
    border: 10pc;
    padding: 0;
    text-align: center;
}
.card h2{
background-color: blueviolet;
}
footer{
    background-color: goldenrod;
    color: black;
    text-align: center;
    padding: 10px;
    
}