
.block {
    display: block;
    background-color: lightblue;
    padding: 10px;
    margin-bottom: 10px;
}

.inline {
    display: inline;
    background-color: lightgreen;
    padding: 5px;
}

.inline-block {
    display: inline-block;
    width: 120px;
    height: 50px;
    background-color: lightcoral;
    text-align: center;
    line-height: 50px;
    margin: 10px;
}




.relative {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #b41313;
    padding: 10px;
    margin-top: 20px;
}
.absolute {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: orange;
    padding: 10px;
}
.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}